/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Inconsolata", monospace;
}

.context-title {
  font-size: 32px;
  font-weight: 700;
  color: #157F1F;
  text-transform: capitalize;
}

.project-card {
  width: 320px;
  height: 320px;
  overflow: hidden;
  position: relative;
}
.project-card:hover .project-card__info {
  top: 0;
}
@media (max-width: 350px) {
  .project-card {
    width: 290px;
    height: 290px;
  }
}

.project-card__info {
  width: 320px;
  height: 320px;
  padding: 40.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(32, 32, 29, 0.98);
  position: absolute;
  top: -100%;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media (max-width: 350px) {
  .project-card__info {
    padding: 16px 0 0;
    width: 290px;
    height: 290px;
  }
}

.project-card__top {
  width: 200px;
  border-bottom: 1px solid #A35709;
  padding-bottom: 16px;
}

.project-card__stack {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.project-card__bottom {
  width: 219px;
  padding-top: 16px;
}

.project-card__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.project-card__wrapper-link {
  text-align: center;
}

.website-link {
  display: inline-block;
  padding: 12px 20px;
  background-color: #32312E;
  border-radius: 4%;
  font-size: 14px;
  font-weight: 400;
}

.burger {
  display: none;
  width: 48px;
  height: 48px;
  z-index: 1;
}
@media (max-width: 630px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.burger__line {
  display: inline-block;
  width: 36px;
  height: 4px;
  background-color: #fff;
  position: relative;
  -webkit-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}
.burger__line:before, .burger__line:after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger__line::before {
  top: -10px;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s;
}
.burger__line::after {
  bottom: -10px;
  -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s;
}

.burger.active .burger__line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}
.burger.active .burger__line::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}
.burger.active .burger__line {
  background-color: transparent;
  -webkit-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header .logo {
  z-index: 1;
  display: inline-block;
  max-width: 146px;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding: 16px 0;
  }
}
@media (max-width: 630px) {
  .header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding: 12px 16px;
  }
}

@media (max-width: 630px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1B1A17;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
}
@media (max-width: 950px) {
  .menu__list {
    gap: 32px;
  }
}
@media (max-width: 630px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.menu__ancore-link {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (hover: hover) {
  .menu__ancore-link:hover {
    color: #157F1F;
  }
}
.menu__ancore-link:active {
  color: #19512D;
}

.welcome {
  padding: 150.5px 0 72.5px;
  overflow: hidden;
}

.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  max-width: 448.25px;
}
.hero .main-title {
  color: #157F1F;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 13.5px;
}
.hero .main-subtitle {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 14.25px;
}
.hero .hero__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.picture-avatar {
  width: 629px;
  height: 575px;
  position: relative;
  background-image: url(../img/pictures/illustrations-desk.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.picture-avatar__shadow {
  width: 374px;
  height: 374px;
  border-radius: 30% 70% 53% 47%/48% 22% 78% 52%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.picture-avatar__shadow--first {
  overflow: hidden;
  z-index: 3;
}
.picture-avatar__shadow--second {
  background-color: #157F1F;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
          transform: translate(-50%, -50%) rotate(30deg);
}
.picture-avatar__shadow--third {
  background-color: rgba(240, 227, 202, 0.72);
  -webkit-transform: translate(-50%, -50%) rotate(-24deg);
          transform: translate(-50%, -50%) rotate(-24deg);
}

@media (max-width: 1150px) {
  .picture-avatar {
    width: 500px;
    height: 350px;
  }
  .picture-avatar__shadow {
    width: 250px;
    height: 250px;
  }
  .hero .main-title {
    margin-bottom: 9px;
    font-size: 52px;
  }
  .hero .main-subtitle {
    margin-bottom: 17px;
    font-size: 34px;
  }
}
@media (max-width: 950px) {
  .welcome {
    padding: 128px 0;
  }
  .welcome__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 64px;
  }
  .hero .main-title {
    margin-bottom: 9px;
    font-size: 64px;
  }
  .hero .main-subtitle {
    margin-bottom: 17px;
    font-size: 40px;
  }
  .picture-avatar {
    width: 629px;
    height: 575px;
  }
  .picture-avatar__shadow {
    width: 374px;
    height: 374px;
  }
}
@media (max-width: 768px) {
  .welcome {
    padding: 141.5px 0;
  }
  .hero {
    max-width: 314px;
    margin: 0 19px;
  }
  .hero .main-title {
    font-size: 40px;
    margin-bottom: 16px;
  }
  .hero .main-subtitle {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .hero .hero__text {
    font-size: 24px;
  }
  .picture-avatar {
    width: 413px;
    height: 430px;
  }
  .picture-avatar__shadow {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 450px) {
  .welcome {
    padding-bottom: 0;
  }
  .picture-avatar {
    max-width: 100%;
    background-image: url(../img/pictures/illustrations-desk-mobile.png);
    height: 350px;
  }
  .hero {
    max-width: 100%;
  }
  .hero .main-title {
    font-size: 36px;
  }
  .hero .main-subtitle {
    font-size: 28px;
  }
  .hero .hero__text {
    font-size: 18px;
  }
}
.about-me {
  padding: 64px 0;
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.about-hero {
  max-width: 904px;
}

.about-hero__text {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.picture-logo {
  width: 101px;
  height: 101px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 768px) {
  .about-hero__description {
    max-width: 100%;
  }
  .about-hero__text {
    font-size: 21px;
    line-height: 1.2;
  }
}
@media (max-width: 450px) {
  .about-me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.my-skills {
  padding: 64px 0;
}
.my-skills .context-title {
  margin-bottom: 32px;
  text-align: center;
}

.skill-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.skill-card-button {
  width: 200px;
  height: 300px;
  position: relative;
}
.skill-card-button__front, .skill-card-button__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  border-radius: 10px;
}
.skill-card-button__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  padding: 61px 0 58px;
  background-color: #2b2828;
}
.skill-card-button__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0E3CA;
  text-align: center;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.skill-card-button__img {
  display: inline-block;
  max-height: 128px;
}
.skill-card-button__img .card-icon {
  fill: #F0E3CA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skill-card-button__title {
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.3;
}
.skill-card-button.active {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateY(0deg) !important;
          transform: translate(-50%, -50%) rotateY(0deg) !important;
  max-width: 500px;
  width: 90%;
  min-height: 400px;
  z-index: 6;
}
.skill-card-button.active .skill-card-button__front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}
.skill-card-button.active .skill-card-button__back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}
@media (hover: hover) {
  .skill-card-button--html:hover .card-icon {
    fill: #FC490B;
    -webkit-filter: drop-shadow(0 0 2px #FC490B);
            filter: drop-shadow(0 0 2px #FC490B);
  }
}
.skill-card-button--html:active .card-icon {
  fill: #FC490B;
  -webkit-filter: drop-shadow(0 0 2px #FC490B);
          filter: drop-shadow(0 0 2px #FC490B);
}
.skill-card-button--html .card-icon {
  width: 128px;
  height: 132px;
}
@media (max-width: 450px) {
  .skill-card-button--html .card-icon {
    max-height: 32px;
    width: 28px;
  }
}
@media (hover: hover) {
  .skill-card-button--css:hover .card-icon {
    fill: #2196F4;
    -webkit-filter: drop-shadow(0 0 2px #2196F4);
            filter: drop-shadow(0 0 2px #2196F4);
  }
}
.skill-card-button--css:active .card-icon {
  fill: #2196F4;
  -webkit-filter: drop-shadow(0 0 2px #2196F4);
          filter: drop-shadow(0 0 2px #2196F4);
}
.skill-card-button--css .card-icon {
  width: 128px;
  height: 132px;
}
@media (max-width: 450px) {
  .skill-card-button--css .card-icon {
    max-height: 32px;
    width: 28px;
  }
}
@media (hover: hover) {
  .skill-card-button--js:hover .card-icon {
    fill: #FFDF00;
    -webkit-filter: drop-shadow(0 0 2px #FFDF00);
            filter: drop-shadow(0 0 2px #FFDF00);
  }
}
.skill-card-button--js:active .card-icon {
  fill: #FFDF00;
  -webkit-filter: drop-shadow(0 0 2px #FFDF00);
          filter: drop-shadow(0 0 2px #FFDF00);
}
@media (max-width: 450px) {
  .skill-card-button--js .card-icon {
    max-height: 32px;
    width: 32px;
  }
}
@media (hover: hover) {
  .skill-card-button--scss:hover .card-icon {
    fill: #CA669B;
    -webkit-filter: drop-shadow(0 0 2px #CA669B);
            filter: drop-shadow(0 0 2px #CA669B);
  }
}
.skill-card-button--scss:active .card-icon {
  fill: #CA669B;
  -webkit-filter: drop-shadow(0 0 2px #CA669B);
          filter: drop-shadow(0 0 2px #CA669B);
}
@media (max-width: 450px) {
  .skill-card-button--scss .card-icon {
    max-height: 32px;
    width: 32px;
  }
}
@media (hover: hover) {
  .skill-card-button--git:hover .card-icon {
    fill: #F25234;
    -webkit-filter: drop-shadow(0 0 2px #F25234);
            filter: drop-shadow(0 0 2px #F25234);
  }
}
.skill-card-button--git:active .card-icon {
  fill: #F25234;
  -webkit-filter: drop-shadow(0 0 2px #F25234);
          filter: drop-shadow(0 0 2px #F25234);
}
@media (max-width: 450px) {
  .skill-card-button--git .card-icon {
    max-height: 32px;
    width: 32px;
  }
}

.skill-card-button__close {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.cross-icon {
  stroke: #F0E3CA;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media (hover: hover) {
  .cross-icon:hover {
    stroke: red;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.skill-description {
  width: 80%;
  font-size: 22px;
}
@media (max-width: 450px) {
  .skill-description {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .my-skills {
    padding: 61px 0;
  }
  .skill-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skill-card-button {
    width: 285px;
    height: 60px;
  }
  .skill-card-button__front {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .skill-card-button__img {
    max-height: 32px;
  }
  .skill-card-button__title {
    font-size: 24px;
  }
}
.fade-block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: transparent;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s 0s;
  transition: background-color 0.2s, -webkit-transform 0.2s 0s;
  transition: background-color 0.2s, transform 0.2s 0s;
  transition: background-color 0.2s, transform 0.2s 0s, -webkit-transform 0.2s 0s;
}
.fade-block.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(21, 127, 32, 0.4235294118);
  -webkit-transition: background-color 0.2s 0.2s, -webkit-transform 0s;
  transition: background-color 0.2s 0.2s, -webkit-transform 0s;
  transition: transform 0s, background-color 0.2s 0.2s;
  transition: transform 0s, background-color 0.2s 0.2s, -webkit-transform 0s;
}

.my-works {
  padding: 64px 0;
}
.my-works .context-title {
  margin-bottom: 32px;
  text-align: center;
}
.my-works .context-title--card {
  margin-bottom: 16px;
}

.row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 768px) {
  .row-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 450px) {
  .my-works {
    padding: 81px 0;
  }
  .project-card__description {
    font-size: 18px;
  }
}
.footer {
  padding: 64px 0;
  overflow: hidden;
}
.footer .logo {
  max-width: 165px;
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 5px;
}
.footer .logo img {
  height: auto;
}
.footer .context-title {
  margin-bottom: 16px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
}

.text-and-logo {
  max-width: 213px;
}

.link-holder-img {
  fill: #fff;
  width: 32px;
  height: 32px;
}

.text-footer {
  font-size: 20px;
  font-weight: 400;
}

.contacts {
  max-width: 384px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.socials__link-holder:not(:last-child) {
  margin-bottom: 32px;
}
@media (hover: hover) {
  .socials__link-holder:hover .link-img {
    fill: #157F1F;
  }
  .socials__link-holder:hover .link-text {
    color: #fff;
  }
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.link-img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link-text {
  color: #157F1F;
  font-weight: 400;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 70px;
  }
  .text-and-logo {
    max-width: 339px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .context-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 32px;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .footer {
    padding: 47px 0;
  }
  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.reviews {
  padding: 0 0 64px;
}
.reviews .context-title {
  text-align: center;
  margin-bottom: 32px;
}

.slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 425px) {
  .slider {
    width: 100%;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.slider__slide {
  background-color: #2b2828;
  border-radius: 15px;
  padding: 20px 10px;
}

.slider__slide-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.reviewer-name {
  display: block;
  font-size: 1.6em;
  line-height: 1.2;
  font-family: "Oswald", sans-serif;
}

.reviewer-profession {
  display: block;
  color: #157F1F;
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  letter-spacing: 1.2px;
}

.img-reviewer-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px #157F1F solid;
}

.slider__slide-bottom {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  letter-spacing: 1.1px;
}

.slider__arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 425px) {
  .slider__arrow {
    display: none !important;
  }
}

.slider__arrow--left {
  left: -50px;
}

.slider__arrow--right {
  right: -50px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.slick-dots button {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: #fff solid 2px;
}

.slick-active button {
  background-color: #fff;
}

.application {
  padding: 64px 0;
}

.form {
  max-width: 560px;
  margin: 0 auto;
  padding: 30px 16px;
  background-color: #2b2828;
  border-radius: 15px;
}

.form__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form__field {
  width: 100%;
  padding: 8px 5px;
  border-bottom: 2px solid #157F1F;
  outline: none;
}

.form__field--message {
  resize: none;
  height: 35px;
  overflow: auto;
}/*# sourceMappingURL=main.css.map */