// base
@import './base/reset';
@import './base/vars';
@import'./base/base';

// blocks

// sections
@import './sections/header';
@import'./sections/welcome';
@import './sections/footer';

