.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: $header-color;
    backdrop-filter: blur(5px);

    .logo{
        z-index: 5;
    }
    &__mobile-container{
        display: none;
    }

    @media (max-width:630px) {
        .container{
        display: none;
        }

        &__mobile-container{
            display: block;
    }
    
}
}

.header__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20.5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 24px;
        padding: 16px 0;
    }

    @media (max-width:630px){
        flex-direction: row;
        gap: 0;
        padding: 12px 16px;
    }
}



.logo {
    display: inline-block;
    max-width: 146px;
}

.menu {
    @media (max-width:630px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $bg-menu;
        transform: translateY(-100%);
    }
}

.menu__list {
    display: flex;
    gap: 64px;

    @media (max-width:630px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}
// .menu__item {

// }
.menu__ancore-link {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.5s;
}

@media(hover:hover){
    .menu__ancore-link:hover{
    color: $context-title;
    }
}

.menu__ancore-link:active{
    color: $link-active-color
}

