// .header {
    
// }


.header__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20.5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 24px;
    }
}

.logo {
    display: inline-block;
    max-width: 146px;

}
// .menu {
    
// }
.menu__list {
    display: flex;
    column-gap: 64px;
}
// .menu__item {

// }
.menu__ancore-link {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.5s;
}

@media(hover:hover){
    .menu__ancore-link:hover{
    color: $context-title;
    }
}

.menu__ancore-link:active{
    color: $link-active-color
}

