.my-skills {
    padding: 64px 0;

    .context-title{
        margin-bottom: 32px;
        text-align: center;
    }
}

.my-skills__content {
}

.skill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.skill-cards__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 61px 0 58px;
    background-color: $card-color;      

    &--html {
        @include card-hover($html-color);
        @include card-active($html-color);
    }
    &--css {
        @include card-hover($css-color);
        @include card-active($css-color);
    }
    &--js {
        @include card-hover($js-color);
        @include card-active($js-color);
    }
    &--scss {
        @include card-hover($scss-color);
        @include card-active($scss-color);
    }
    &--git {
        @include card-hover($git-color);
        @include card-active($git-color);
    }
}

.skill-cards__img {
    display: inline-block;
    max-height: 128px;
}

.card-icon {
    fill: #F0E3CA;
    transition: 0.5s;
}
.skill-cards__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
}