.my-works {
    padding: 64px 0;

    .context-title {
        margin-bottom: 32px;
        text-align: center;

        &--card {
            margin-bottom: 16px;
        }
    }
}

.my-works__content {
}

.row-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width:768px) {
    .row-cards{
        flex-direction: column;
        align-items: center;
    }
}