.my-skills {
    padding: 64px 0;

    .context-title{
        margin-bottom: 32px;
        text-align: center;
    }
}

.my-skills__content {
}
.skill-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.skill-card-button {
    width: 200px;
    height: 300px;
    position: relative;
    
    &__front,
    &__back{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1s;
        border-radius: 10px;
    }
    
    &__front{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        transform: perspective(600px) rotateY(0deg);
        padding: 61px 0 58px;
        background-color: $card-color;  
    }

    &__back{
        color: #F0E3CA;
        transform: perspective(600px) rotateY(180deg);
        background-color: $header-color;
        backdrop-filter: blur(5px);
    }

    &__img{
        display: inline-block;
        max-height: 128px;

        .card-icon {
            fill: #F0E3CA;
            transition: 0.5s;
        }
    }

    &__title {
        font-family: "Inconsolata", monospace;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.3;
    }

    &.active{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(0deg);
        min-width: 500px;
        min-height: 400px;
        z-index: 6;

        .skill-card-button__front{
            transform: perspective(600px) rotateY(-180deg);
        }

        .skill-card-button__back{
            transform: perspective(600px) rotateY(0deg);
        }
    }

    &--html {
        @include card-hover($html-color);
        @include card-active($html-color);

        .card-icon {
            width: 128px;
            height: 132px;
        }

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 28px;
            }
        }
    }
    &--css {
        @include card-hover($css-color);
        @include card-active($css-color);

        .card-icon {
            width: 128px;
            height: 132px;
        }

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 28px;
            }
        }
    }
    &--js {
        @include card-hover($js-color);
        @include card-active($js-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
    &--scss {
        @include card-hover($scss-color);
        @include card-active($scss-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
    &--git {
        @include card-hover($git-color);
        @include card-active($git-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
}

.skill-card-button__close {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.cross-icon {
    stroke: #F0E3CA;
    transition: 0.75s;

    @include close-cross-hover($close-cross-hover);
}

@media (max-width:450px) {
    .my-skills{
        padding: 61px 0;
    }
    .skill-cards{
        flex-direction: column;
        align-items: center;
    }

    .skill-card-button{
        flex-direction: row;
        justify-content: left;
        max-width: 285px;
        padding-left: 32px;
        padding-top: 14px;
        padding-bottom: 14px;

        &__img {
            max-height: 32px;
        }
    
        &__title{
            font-size: 24px;
        }
    }
}

.fade-block{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 5;
    transform: scale(0);
    background-color: transparent;
    transition: background-color 0.2s, transform 0.2s 0s;
    
    &.active{
        transform: scale(1);
        background-color: $fade-block-color;
        transition: transform 0s, background-color 0.2s 0.2s;
    }
}