.my-skills {
    padding: 64px 0;

    .context-title{
        margin-bottom: 32px;
        text-align: center;
    }
}

.my-skills__content {
}

.skill-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.skill-cards__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 61px 0 58px;
    background-color: $card-color;      

    &--html {
        @include card-hover($html-color);
        @include card-active($html-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 28px;
            }
        }
    }
    &--css {
        @include card-hover($css-color);
        @include card-active($css-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 28px;
            }
        }
    }
    &--js {
        @include card-hover($js-color);
        @include card-active($js-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
    &--scss {
        @include card-hover($scss-color);
        @include card-active($scss-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
    &--git {
        @include card-hover($git-color);
        @include card-active($git-color);

        @media (max-width:450px) {
            .card-icon{
                max-height: 32px;
                width: 32px;
            }
        }
    }
}

.skill-cards__img {
    display: inline-block;
    max-height: 128px;
}

.card-icon {
    fill: #F0E3CA;
    transition: 0.5s;
}
.skill-cards__title {
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
}

@media (max-width:450px) {
    .skill-cards{
        flex-direction: column;
        align-items: center;
    }

    .skill-cards__btn{
        flex-direction: row;
        justify-content: left;
        max-width: 285px;
        padding-left: 32px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .skill-cards__img {
        max-height: 32px;
    }

    .skill-cards__title{
        font-size: 24px;
    }
}