.welcome{
    padding: 150.5px 0 72.5px;
}
.welcome__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    max-width: 448.25px;

    .main-title{
        color: $context-title;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        text-transform: capitalize;
        margin-bottom: 13.5px;
    }

    .main-subtitle{
        color: $text-color;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 14.25px;
    }

    .hero__text{
        color: $text-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        
    }

    
}
.picture-avatar{
        width: 629px;
        height: 575px;
        position: relative;
        background-image: url(../img/pictures/illustrations-desk.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .picture-avatar__shadow {
        width: 374px;
        height: 374px;
        border-radius: 30% 70% 53% 47% / 48% 22% 78% 52% ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--first {
            overflow: hidden;
            z-index: 3;
            
        }
        &--second {
            background-color: $shadow-green;
            z-index: 2;
            transform: translate(-50%, -50%) rotate(30deg);
        }
        &--third {
            background-color: $shadow-grey;
            transform: translate(-50%, -50%) rotate(-24deg);
        }
    }

    @media (max-width:1150px) {
        .picture-avatar{
            width: 500px;
            height: 350px;
        }

        .picture-avatar__shadow{
            width: 250px;
            height: 250px;
        }

        .hero{
            .main-title{
                margin-bottom: 9px;
                font-size: 52px;
            }

            .main-subtitle{
                margin-bottom: 17px;
                font-size: 34px;
            }
        }
    }

    @media (max-width:950px) {
        .welcome{
            padding: 128px 0;
        }

        .welcome__content{
            flex-direction: column;
            gap: 64px;
        }

        .hero{
            .main-title{
                margin-bottom: 9px;
                font-size: 64px;
            }

            .main-subtitle{
                margin-bottom: 17px;
                font-size: 40px;
            }
        }

        .picture-avatar{
            width: 629px;
            height: 575px;
        }

        .picture-avatar__shadow{
            width: 374px;
            height: 374px;
        }
    }

    @media (max-width:768px) {
        .welcome{
            padding: 141.5px 0;
        }

        .hero{
            max-width: 314px;
            margin: 0 19px;

            .main-title{
                font-size: 40px;
                margin-bottom: 16px;
            }

            .main-subtitle{
                font-size: 32px;
                margin-bottom: 16px;
            }

            .hero__text{
                font-size: 24px;
            }
        }

        .picture-avatar{
            width: 413px;
            height: 430px;
        }

        .picture-avatar__shadow{
            width: 230px;
            height: 230px;
        }
    }

    @media (max-width:450px) {
        .welcome{
            padding-bottom: 0;
        }
        .picture-avatar{
            max-width: 100%;
            background-image: url(../img/pictures/illustrations-desk-mobile.png);
            height: 350px;
        }

        .hero{
            max-width: 100%;

            .main-title{
            font-size: 36px;
            }

            .main-subtitle{
                font-size: 28px;
            }

            .hero__text{
                font-size: 18px;
            }
        }

        
    }