.project-card {
    max-width: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &:hover{
        .project-card__info{
            top: 0;
        }
    }
}

.project-card__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $card-project-info-color;
    position: absolute;
    top: -100%;
    transition: 0.75s;
}
.project-card__top {
    max-width: 200px;
    width: 100%;
    border-bottom: 1px solid #A35709;
    padding: 40.5px 0 16px;
}
.project-card__stack {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.project-crad__bottom {
    max-width: 219px;
    padding: 16px 0 40.5px;
}
.project-card__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.project-card__wrapper-link {
    text-align: center;
}

.website-link {
    display: inline-block;
    padding: 12px 20px;
    background-color: $see-more-color;
    border-radius: 4%;
    font-size: 14px;
    font-weight: 400;
}

