.project-card {
    width: 320px;
    height: 320px;
    overflow: hidden;
    position: relative;

    &:hover{
        .project-card__info{
            top: 0;
        }
    }

    @media (max-width:350px) {
        width: 290px;
        height: 290px;
    }
}

.project-card__info {
    width: 320px;
    height: 320px;
    padding: 40.5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-project-info-color;
    position: absolute;
    top: -100%;
    transition: 0.75s;

    @media (max-width:350px) {
        padding: 16px 0 0;
        width: 290px;
        height: 290px;
    }
}
.project-card__top {
    width: 200px;
    // width: 100%;
    border-bottom: 1px solid #A35709;
    padding-bottom: 16px;

    // @media (max-width:375px){
    //     padding-top: 15.5px;
    // }
}
.project-card__stack {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.project-card__bottom {
    width: 219px;
    padding-top: 16px;

    // @media (max-width:375px){
    //     padding-bottom: 10.5px;
    // }
}
.project-card__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.project-card__wrapper-link {
    text-align: center;
}

.website-link {
    display: inline-block;
    padding: 12px 20px;
    background-color: $see-more-color;
    border-radius: 4%;
    font-size: 14px;
    font-weight: 400;
}

