// main colors
$context-title: #157F1F;
$text-color: #fff;
$card-color: #2b2828;
$body-color: #000;
$link-active-color: #19512D;
$shadow-green: #157F1F;
$shadow-grey: rgba(240, 227, 202, 0.72);
$card-project-info-color: rgba(32, 32, 29, 0.98);
$see-more-color: #32312E;
$bg-menu: #1B1A17;

// card colors
$html-color: #FC490B;
$css-color: #2196F4;
$js-color:#FFDF00;
$git-color: #F25234;
$scss-color: #CA669B;